@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "the-bold";
  src: url("../public/fonts/theboldfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "merriweather-ultrabold";
  src: url("../public/fonts/merriweatherultrabold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dm-serif-display";
  src: url("../public/fonts/DMSerifDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "merriweather-bold";
  src: url("../public/fonts/merriweatherbold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat-extrabold";
  src: url("../public/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "oswald";
  src: url("../public/fonts/Oswald-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "raleway-bold";
  src: url("../public/fonts/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../public/fonts/Rubik-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
